# Application
DJANGO_ENV=development

# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=product
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Redis
REDIS_URL=redis://redis:6379/0

# Feature flags
FEATURE_HELPDESK=true
FEATURE_NOTIFICATIONS=true
FEATURE_REGISTRATION=false
FEATURE_NEW_DASHBOARD=false

# Secrets
DJANGO_SECRET_KEY=
