{% extends "admin/change_form.html" %}

{% block extrastyle %}
  {{ block.super }}
  <style>
    .object-tools form { display: inline; }
    .object-tools button {
      background: var(--object-tools-bg);
      border: 0;
      border-radius: 15px;
      color: var(--object-tools-fg);
      cursor: pointer;
      display: block;
      font: inherit;
      font-size: 11px;
      line-height: 20px;
      padding: 3px 12px;
      text-transform: uppercase;
    }
    .object-tools button:focus,
    .object-tools button:hover { background-color: var(--object-tools-hover-bg); }
    .object-tools button.deletelink { background-color: var(--delete-button-bg); }
    .object-tools button.deletelink:focus,
    .object-tools button.deletelink:hover { background-color: var(--delete-button-hover-bg); }
  </style>
{% endblock %}

{% block object-tools-items %}
  {{ block.super }}
  {% if change and toggle_active_url %}
    <li>
      <form method="post" action="{{ toggle_active_url }}">
        {% csrf_token %}
        <button type="submit" class="{{ toggle_active_class }}">{{ toggle_active_label }}</button>
      </form>
    </li>
  {% endif %}
{% endblock %}
