{% extends 'settings/base.html' %}
{% load static %}

{% block setting_page_content %}
<form method="POST" class="space=y">
  <div class="card">
    <div class="card-body">
      <h2 class="mb-4">Password Settings</h2>
      <p class="card-subtitle">You can set a permanent password if you don't want to use temporary login codes.</p>
      <div class="row g-3">
        <div class="col">
          <div class="form-label">Currnet Password</div>
          <input type="password" class="form-control" name="test">
        </div>
        <div class="col">
          <div class="form-label">New Password</div>
          <input type="password" class="form-control" name="test">
        </div>
        <div class="col">
          <div class="form-label">New Password Confirmation</div>
          <input type="password" class="form-control" name="test">
        </div>
      </div>
    </div>
    <div class="card-footer bg-transparent mt-auto">
      <div class="btn-list justify-content-end">
        <button class="btn btn-1" type="reset">Candel</button>
        <button class="btn btn-primary btn-2" type="submit">Submit</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
