{% extends 'settings/base.html' %}
{% load static %}

{% block setting_page_content %}
<form method="POST" class="space=y">
  {% csrf_token %}
  <div class="card">
    <div class="card-body">
      <h2 class="mb-4">Profile Details</h2>

      <h3 class="card-title mt-4">Personal Information</h3>
      <div class="row g-3">
        <div class="col-md">
          <label class="form-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
          <input type="text" class="form-control{% if form.first_name.errors %} is-invalid{% endif %}" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}" value="{{ form.first_name.value|default_if_none:'' }}">
          {% for error in form.first_name.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
        </div>
        <div class="col-md">
          <label class="form-label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
          <input type="text" class="form-control{% if form.last_name.errors %} is-invalid{% endif %}" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.html_name }}" value="{{ form.last_name.value|default_if_none:'' }}">
          {% for error in form.last_name.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
        </div>
      </div>

      <h3 class="card-title mt-4">Email</h3>
      <p class="card-subtitle">This address is used for account communication.</p>
      <div class="row g-3">
        <div class="row g-2">
          <div class="col-auto">
            <input type="email" class="form-control w-auto{% if form.email.errors %} is-invalid{% endif %}" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" value="{{ form.email.value|default_if_none:'' }}">
            {% for error in form.email.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
          </div>
        </div>
      </div>

      <h3 class="card-title mt-4">Password</h3>
      <p class="card-subtitle">You can set a permanent password if you don't want to use temporary login codes.</p>
      <div class="row g-3">
        <div class="'col-md">
          <a href="{% url 'settings:change_password' %}" class="btn btn-1">Set new password</a>
        </div>
      </div>

    </div>
    <div class="card-footer bg-transparent mt-auto">
      <div class="btn-list justify-content-end">
        <button class="btn btn-1" type="reset">Cancel</button>
        <button class="btn btn-primary btn-2" type="submit">Save changes</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
