{% extends 'registration/base.html' %}
{% load i18n static %}

{% block head_title %}{% translate "Set new password" %}{% endblock %}

{% block page_content %}

{% if validlink %}
<form class="card card-md" method="post" autocomplete="off" novalidate="">
  {% csrf_token %}
  <div class="card-body">
    <h2 class="card-title text-center mb-4">{% translate 'Change Password' %}</h2>
    <p class="text-secondary mb-4">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <input type="hidden" class="hidden" autocomplete="username" value="{{ form.user.get_username }}">


    <div class="mb-3">
      <label class="form-label">{% translate 'New Password:' %}</label>
      <input type="password" name="{{ form.new_password1.name }}" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">{% translate 'Confirm password: :' %}</label>
      <input type="password" name="{{ form.new_password2.name }}" class="form-control">
    </div>


    <div class="form-footer">
      <button type="submit" class="btn btn-primary btn-4 w-100">
        <!-- Download SVG icon from http://tabler.io/icons/icon/mail -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-2">
          <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
          <path d="M3 7l9 6l9 -6"></path>
        </svg>
        {% translate 'Change my password' %}
      </button>
    </div>
  </div>
</form>

{% else %}
<p text-center text-secondary mt-3>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}

{% endblock %}